.TaskTablePager-curr {
	border: 1px solid red;
	padding: 0px;
	margin: 2px;
	width: 30px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: red;
}
.TaskTablePager-page {
	border: 1px solid black;
	padding: 0px;
	margin: 2px;
	width: 30px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
}
.TaskTablePager-prev {
	border: 1px solid black;
	padding: 0px;
	margin: 2px;
	width: 60px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
}
.TaskTablePager-next {
	border: 1px solid black;
	padding: 0px;
	margin: 2px;
	width: 60px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
}
