@import "theme";

@top-height: 32px;
@menu-button-width: 120px;
@menu-button-border-width: 1px;
@menu-button-margin: 2px;
@menu-button-height: @top-height - @menu-button-border-width * 2
			- @menu-button-margin * 2;

.Top {
	height: @top-height;
}

.Menu {
	float: left;
	height: @top-height;
}

.Menu-button {
	cursor: pointer;
	font-size: 14px;
	background-color: @bg;
	color: @fg;
	border: @menu-button-border-width solid @fg;
	padding: 0;
	margin: @menu-button-margin;
	width: @menu-button-width;
	height: @menu-button-height;
	line-height: @menu-button-height - 2;
}
.Menu-button:hover {
	background-color: @hl-bg;
	color: @hl-fg;
	border: @menu-button-border-width solid @hl-fg;
}

.Auth {
	float: right;
	height: @top-height;
}

.Auth-input {
	.Menu-button;
	cursor: text;
	width: 180px;
}

.Auth-input:focus {
	background-color: @hl-bg;
	color: @hl-fg;
	border: @menu-button-border-width solid @hl-fg;
}
